@import '../../styles/index.scss';

.select-plan {
	display: flex;
	flex-direction: column;
	row-gap: 33px;

	&__plans {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 18px;

		@media (max-width: $mobile-breakpoint) {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, 1fr);
		}
	}

	&__frecuency {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		align-items: center;
		column-gap: 24px;
		width: 100%;
		padding: 12px;
		border-radius: 10px;
		background-color: $magnolia;
		color: $cool-gray;
		font-size: 14px;
		font-weight: 500;
		cursor: pointer;

		.frecuency-monthly {
			justify-self: right;
			@include transition(color);
		}

		.frecuency-yearly {
			justify-self: left;
			@include transition(color);
		}

		&--monthly .frecuency-monthly {
			color: $marine-blue;
		}

		&--yearly .frecuency-yearly {
			color: $marine-blue;
		}

		.switch {
			position: relative;
			background-color: $marine-blue;
			width: 40px;
			height: 20px;
			border-radius: 50px;

			&::after {
				content: '';
				position: absolute;
				top: 4px;
				width: 12px;
				height: 12px;
				background-color: $white;
				border-radius: 50px;
				@include transition(left);
			}
		}

		&--monthly .switch {
			&::after {
				left: 4px;
			}
		}

		&--yearly .switch {
			&::after {
				left: calc(40px - 12px - 4px);
			}
		}
	}
}

.plan-card {
	display: flex;
	flex-direction: column;
	row-gap: 7px;
	border-radius: 10px;
	padding: 20px 16px 17px;
	border: 1px solid $light-gray;
	min-height: 160px;
	cursor: pointer;
	@include transition(border-color, background-color);

	@media (max-width: $mobile-breakpoint) {
		display: grid;
		grid-template-columns: max-content 1fr;
		grid-template-rows: repeat(3, max-content);
		grid-template-areas: 'icon name' 'icon price' 'icon free';
		grid-gap: 7px 16px;
		min-height: 0;
	}

	&:hover {
		border-color: $purplish-blue;
	}

	&--active {
		border-color: $purplish-blue;
		background-color: $magnolia;
	}

	&__icon {
		width: 40px;
		height: 40px;
		margin-bottom: auto;
		grid-area: icon;
	}

	&__name {
		font-size: 16px;
		font-weight: 500;
		color: $marine-blue;
		grid-area: name;
	}

	&__price {
		font-size: 14px;
		color: $cool-gray;
		grid-area: price;
	}

	&__free {
		font-size: 12px;
		color: $marine-blue;
		grid-area: free;
	}
}
