@import '../../styles/index.scss';

.summary {
	display: flex;
	flex-direction: column;
	row-gap: 30px;

	&__details {
		display: flex;
		flex-direction: column;
		padding: 20px;
		border-radius: 10px;
		background-color: $magnolia;

		@include mobile {
			padding: 16px;
		}
	}

	&__total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 20px 0;

		@include mobile {
			padding: 16px;
		}

		p:first-of-type {
			font-size: 14px;
			color: $cool-gray;
		}

		p:last-of-type {
			font-size: 20px;
			font-weight: 700;
			color: $purplish-blue;

			@include mobile {
				font-size: 16px;
			}
		}
	}
}

.summary-plan,
.summary-add-on {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.summary-plan {
	&__name {
		font-weight: 500;
		display: flex;
		flex-direction: column;

		span {
			font-size: 16px;
			color: $marine-blue;

			@include mobile {
				font-size: 14px;
			}
		}

		button {
			font-size: 14px;
			text-decoration: underline;
			cursor: pointer;
			color: $cool-gray;
			width: max-content;
			@include transition(color);

			&:hover {
				color: $purplish-blue;
			}
		}
	}

	&__price {
		font-size: 16px;
		font-weight: 700;
		color: $marine-blue;

		@include mobile {
			font-size: 14px;
		}
	}
}

.summary-add-ons {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding-top: 20px;
	border-top: 1px solid $light-gray;
	margin-top: 20px;

	@include mobile {
		row-gap: 15px;
		padding-top: 20px;
	}
}

.summary-add-on {
	font-size: 14px;

	&__name {
		color: $cool-gray;
	}

	&__price {
		color: $marine-blue;
	}
}

.confirmed {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;

	@include mobile {
		margin: 70px 0;
	}

	&__icon {
		width: 80px;
		height: 80px;

		@include mobile {
			width: 50px;
			height: 50px;
		}
	}

	&__title {
		font-size: 32px;
		font-weight: 700;
		color: $marine-blue;
		margin: 32px 0 14px;
		text-align: center;

		@include mobile {
			font-size: 24px;
			margin: 20px 0 10px;
		}
	}

	&__description,
	a {
		font-size: 16px;
		color: $cool-gray;
		line-height: 25px;
		text-align: center;
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			color: $purplish-blue;
		}
	}
}
