@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.your-info {
	display: flex;
	flex-direction: column;

	.label-and-error {
		display: flex;
		margin-bottom: 8px;
	}

	&__label {
		font-size: 14px;
		color: $marine-blue;
	}

	&__error {
		font-size: 14px;
		font-weight: 500;
		color: $strawberry-red;
		margin-left: auto;
	}

	&__input {
		font-size: 16px;
		font-weight: 500;
		color: $marine-blue;
		padding: 15px 16px;
		border-radius: 10px;
		border: 1px solid $light-gray;
		width: 100%;
		margin-bottom: 24px;
		@include transition(border-color);

		&::placeholder {
			color: $cool-gray;
		}

		&:focus {
			border-color: $purplish-blue;
		}

		&--empty {
			border-color: $strawberry-red;

			&:focus {
				border-color: $strawberry-red;
			}
		}
	}
}
