@import '../../styles/variables.scss';

.step-2 {
	display: flex;
	flex-direction: column;
	row-gap: 33px;

	&__plans {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 18px;
	}

	&__frecuency {
		display: grid;
		grid-template-columns: 1fr max-content 1fr;
		align-items: center;
		column-gap: 24px;
		width: 100%;
		padding: 12px;
		border-radius: 10px;
		background-color: $magnolia;
		color: $cool-gray;
		font-size: 14px;

		.frecuency-monthly {
			justify-self: right;
		}

		.frecuency-yearly {
			justify-self: left;
		}

		&--monthly .frecuency-monthly {
			color: $marine-blue;
			font-weight: 700;
		}

		&--yearly .frecuency-yearly {
			color: $marine-blue;
			font-weight: 700;
		}

		.switch {
			position: relative;
			background-color: $marine-blue;
			cursor: pointer;
			width: 40px;
			height: 20px;
			border-radius: 50px;

			&::after {
				content: '';
				position: absolute;
				top: 4px;
				width: 12px;
				height: 12px;
				background-color: $white;
				border-radius: 50px;
				transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
			}
		}

		&--monthly .switch {
			&::after {
				left: 4px;
			}
		}

		&--yearly .switch {
			&::after {
				left: calc(40px - 12px - 4px);
			}
		}
	}
}

.plan-card {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	padding: 20px 16px 17px;
	border: 1px solid $light-gray;
	min-height: 160px;
	cursor: pointer;

	&:hover {
		border-color: $purplish-blue;
	}

	&--active {
		border-color: $purplish-blue;
		background-color: $magnolia;
	}

	&__icon {
		width: 40px;
		height: 40px;
		margin-bottom: auto;
	}

	&__name {
		font-size: 16px;
		font-weight: 500;
		color: $marine-blue;
		text-transform: capitalize;
	}

	&__price {
		font-size: 14px;
		color: $cool-gray;
	}

	&__free {
		font-size: 12px;
		color: $marine-blue;
	}
}
